@media only screen and (max-width:1100px){
    
    .logo{
        width: 130px;
    }
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        width: 100%;
        height: 500px;
        flex-direction: column;
        transition: all 0.7s ease-out;
        
    }
    .firstSection{
        width: 100%;
    }
    .rightNav{
        display: flex;
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 60%;
       
    }
    .searc{
        display: flex;
        align-items: baseline;
    }
    .search{
        display: flex;
        width: 90%;
        margin-bottom: 3px;
        margin-top: 20px;
    
    }
    .burger{
        display:block;
    }
    .h-nav-resp{
        height: 65px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .box-main{
    flex-direction: column-reverse;
    max-width: 50%;
    }
    .section{
        flex-direction: column-reverse;
        width: 100%;
        padding: 30px 0 20px 0;
    }
    .text-small{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding-bottom:20px ;
       
    }
    
    
    
    
    
    
    
    }